<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d{MM-dd HH:mm:ss} %m  (%F:%L) \n"/>
        </layout>
    </appender>

    <appender name="currency-web" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="currency-web.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="10MB"/>
        <param name="MaxBackupIndex" value="10"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d{MM-dd HH:mm:ss} %m  (%F:%L) \n"/>
        </layout>
    </appender>

    <logger name="org.adam.currency">
        <level value="INFO"/>
    </logger>

    <logger name="org.hibernate">
        <level value="ERROR"/>
    </logger>

    <logger name="org.springframework">
        <level value="ERROR"/>
    </logger>

    <logger name="org.springframework.web.context">
        <level value="ERROR"/>
    </logger>

    <logger name="org.springframework.cache.ehcache">
        <level value="ERROR"/>
    </logger>

    <root>
        <priority value="INFO"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="currency-web"/>
    </root>
</log4j:configuration>

